.contact-container {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(15px);
    border-radius: 5px;
    box-shadow: -15px 15px 30px rgba(0, 0, 0, 0.4);
    max-width: 1250px;
    height: 661px;
    margin-top: 75px;
    margin-left: 470px;
    text-align: center;
}

.title-contact {
    padding-top: 20px;
    color: #0898cd;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-container {
    margin-top: 10px;
}

.map {
    margin-top: 20px;
    margin-left: 10px;
    width: 400px;
    height: 500px;
    border: 1px solid #0898cd;
    border-radius: 5px;
}

.contact-info {
    display: inline;
    margin-left: 20px;
    margin-bottom: 200px;
}

.contact-info p {
    font-size: 18px;
    font-weight: bold;
    color: #0898cd;
}

.phone-icon {
    margin-right: 10px;
    margin-bottom: 2px;
}

.clock-icon {
    margin-right: 8px;
    margin-bottom: 2px;
}

.form-container {
    width: 400px;
    margin-top: 20px;
    margin-left: 25px;
}

.file {
    margin-bottom: 15px;
}

.mid {
    display: flex;
    justify-content: space-between;
}

input,
textarea {
    padding: 20px;
    border-radius: 15px;
    border: none;
    border: 1px solid #0898cd;
}

.mid input {
    width: 48%;
}

.input-full {
    width: 100%;
}

.btn-send {
    display: block;
    margin: auto;
    width: 150px;
    cursor: pointer;
    transition: .5s;
    padding: 15px 15px;
    font-size: 17px;
    background-color: #0f99cb;
    color: #fff;
}

.btn-send:hover {
    background-color: #056c91;
}