.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #037ca1;
  padding-top: 60px;
}

.sidebar .logo img {
  margin-top: -45px;
  margin-left: 95px;
  width: 50px;
  border-radius: 50%;
  rotate: -20deg;
}

.sidebar .line-sidebar {
  color: white; 
}

.sidebar .group-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 90px;
  margin-left: 25px;
}

.sidebar .group-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 125px;
  text-align: left;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: .3s;
}

.sidebar .group-list-item:hover {
  color: aqua;
}

.home-icon, .about-icon, .services-icon, .date-icon, .contact-icon {
  width: 25px;
  height: 23px;
  margin-right: 10px;
}

.link {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
}