.dashboard-user {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.dashboard-btn {
    background-color: #0898cd;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
    font-size: 18px;
    padding: 9px;
    margin-top: 15px;
}

.dashboard-btn:hover {
    background-color: #096f94;
}

.dashboard-user .logout-btn {
    background-color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 9px;
    margin-top: 15px;
    border-radius: 5px;
    color: #0898cd;
}

.dashboard-user .logout-btn:hover {
    background-color: #0898cd;
    color: #fff;
    transition: .3s;
}

.login-container {
    display: flex;
    padding: 30px;
    text-align: center;
    margin-left: 400px;
}

.text-login {
    color: #076080;
    font-size: 17px;
}

.button-register {
    background-color: #0898cd;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 15px;
}

.button-register:hover {
    background-color: #096f94;
    transition: .3s;
}

.button-login {
    background-color: aliceblue;
    text-decoration: none;
    color: #0898cd;
    border-radius: 5px;
    margin-left: 15px;
    padding: 10px;
}

.button-login:hover {
    background-color: #0898cd;
    color: #fff;
    transition: .3s;
}